.group-button {
    display: flex;
    justify-content: space-around;

    .group-button__btn {
        border: 0px;
        width: 100px;
        margin-top: 10px;
        padding: 6px 10px;
        border-radius: 8px;

        &.group-button__btn--confirm {
            background-color: #3499db;
        }

        &.group-button__btn--delete {
            background-color: red;
        }

        &.group-button__btn--cancel {
            background-color: #85ceff;
        }

        &.group-button__btn:hover {
            box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.1);
        }

        &.group-button__btn--disable:hover {
            cursor: not-allowed;
            box-shadow: 0px 0px 0px 0px red;
        }
    }
}