.list-good-type {
    gap: 10px;
    display: flex;
    justify-content: flex-start;

    .good-type {
        padding: 5px;
        border: 1px solid black;

        &.good-type--selected {
            background-color: #a3e4f5;
        }

        &:hover {
            cursor: pointer;
        }
    }
}