.list-good-type {
    gap: 10px;
    display: flex;
    justify-content: flex-start;

    .good-type {
        padding: 5px;
        border: 1px solid black;

        &.good-type--selected {
            background-color: #a3e4f5;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 991.98px) {
    .list-good-type {
        gap: 2px;
    
        .good-type {

    
            &.good-type--selected {

            }
    
            &:hover {

            }
        }
    }
}

@media (max-width: 410.98px) {
    .list-good-type {
        overflow-x: scroll;
    
        .good-type {

    
            &.good-type--selected {

            }
    
            &:hover {

            }
        }
    }
}