.paging {
    .paging__page-total {
                width: 120px;
            }

            .paging__btn {
                margin: 0px 2px;
                color: #60bfff;
                background-color: white;
                border: 1px solid #60bfff;
            }

            .paging__btn:hover {
                box-shadow: 1.5px 5px 2px 0px rgba(0,0,0,0.1);
            }
}