.sales-detail {
    .sales-detail-modal__modal {
        .modal__content {
            .content__title {
                font-weight: bold;
                margin-bottom: 20px;
            }

            .content__client-name {

            }

            .content__sales-date {
                margin-bottom: 20px;
            }

            .tab__table {
                width: 100%;
                padding: 5px;
                border-spacing: 0px;
                border-collapse: unset;

                th, td {
                    padding: 5px;
                    vertical-align: middle;
                }

                thead {

                    tr {

                        th {
                            border: 0px;
                            padding: 10px 0px;
                            font-weight: 400;
                            text-align: center;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            background-color: rgba(240, 240, 240, 1);
                        }
                    }
                }

                tbody {

                    tr {

                        td {
                            width: 50px; 
                            overflow: hidden;
                            white-space: nowrap; 
                            text-overflow: ellipsis;
                            border: 1px solid rgba(240, 240, 240, 1);
                        }
                    }
                    
                    tr:hover {
                        background-color: rgb(248, 248, 248);
                    }
                }

                .table__table-data {
                    .table__table-data--name {
                        width: 100px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .table-data--price--initial {
                        font-size: 11px;
                        color: rgb(101, 202, 249);
                    }

                    &.table__table-data--price, &.table__table-data--quantity, &.table__table-data--point-deduct {
                        text-align: center;
                    }
                }
            }
        }

        .modal__content-small {
            padding: 8px;
            font-size: 14px;
            border: 1px solid black;
            
            .content-small__detail {
                margin-bottom: 15px;

                .detail__title {
                    display: flex;

                    .title__good-name {
                        font-weight: bold;
                    }
                }

                .detail__more {
                    color: #ccc;
                    display: flex;
                }
            }
        }

        .modal__footer {
            width: 100%;
            height: 100%;

            .footer__payment-name {
                width: 100%;
                border-bottom: 1px solid black;
            }

            .footer__payment-notes {
                width: 100%;
                height: 100%;
                display: flex;

                .payment-notes__total-sales {
                    width: 40%;
                    margin: 10px;
                    padding: 10px;
                    border: 1px solid black;

                    .total-sales__total-amount {
                        color: rgb(101, 202, 249);
                    }

                    .total-sales__payment-used {
                        .payment-used__payment-type {
                            display: flex;
                        }

                        .payment-used__payment-date {
                            font-size: 12px;
                            font-style: italic;
                            font-weight: lighter;
                        }
                    }

                    .total-sales__outstanding {
                        color: red;
                        border-bottom: 1px dotted black;
                    }

                    .total-sales__total-amount,
                    .total-sales__point,
                    .total-sales__balance,
                    .total-sales__outstanding,
                    .total-sales__loyalty-point,
                    .payment-used__payment-type {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .payment-notes__total-sales:hover {
                    cursor: default;
                }

                .payment-notes__text-notes {
                    width: 40%;
                    margin: 10px;

                    textarea {
                        width: 100%;
                        height: 100%;
                    }

                    textarea:hover {
                        cursor: no-drop;
                    }
                }

                .payment-notes__button--close {
                    width: calc(20% - 40px);
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    .sales-detail {
        .sales-detail-modal__modal {
            .modal__footer {
                .footer__payment-notes {
                    flex-direction: column;
                    
                    .payment-notes__total-sales {
                        margin: 10px 15px;
                        width: calc(100% - 30px);
                    }

                    .payment-notes__text-notes {
                        margin: 10px 15px;
                        width: calc(100% - 30px);
                    }

                    .payment-notes__button--close {
                        width: 100%;
                    }
                }
            }
        }
    }
}