.sales-detail {
    .sales-detail-modal__modal {
        .modal__content {
            .content__title {

            }

            .content__client-name {

            }

            .content__sales-date {

            }

            .tab__table {
                width: 100%;
                padding: 5px;
                border-spacing: 0px;
                border-collapse: unset;

                th, td {
                    padding: 5px;
                    vertical-align: middle;
                }

                thead {

                    tr {

                        th {
                            border: 0px;
                            padding: 10px 0px;
                            font-weight: 400;
                            text-align: center;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            background-color: rgba(240, 240, 240, 1);
                        }
                    }
                }

                tbody {

                    tr {

                        td {
                            width: 50px; 
                            overflow: hidden;
                            white-space: nowrap; 
                            text-overflow: ellipsis;
                            border: 1px solid rgba(240, 240, 240, 1);
                        }
                    }
                    
                    tr:hover {
                        background-color: rgb(248, 248, 248);
                    }
                }

                .table__table-data {
                    
                }
            }
        }
    }
}