.client-actions-modal {
    .client-actions-modal__modal {
        width: 100%;

        .modal__content {
            display: flex;
            justify-content: space-between;

            .content__data-input {
                width: 70%;

                .data-input__group-input {
                    width: 100%;
                    display: flex;
                    margin: 10px 0px;

                    label {
                        width: 150px;

                        span {
                            color: red;
                        }
                    }

                    input, select {
                        min-width: 300px;
                        padding: 0px 5px;
                    }

                    select {
                        height: 30px;
                    }

                    .group-input__error-text {
                        color: red;
                        width: 100%;
                        font-size: 12px;
                        margin-left: 150px;
                    }

                    &.data-input__group-input--sex {
                        :nth-child(2) , :nth-child(3) {
                            margin: 0px 10px;
                        }
                    }

                    &.data-input__group-input--register-date {
                        .group-input--register-date__date-picker {
                            .date-picker__input-date-picker {
                                height: 30px;
                            }
                        }
                    }

                    &.group-input--no-arrow::-webkit-outer-spin-button,
                     .group-input--no-arrow::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                .data-input__error-client {
                    color: red;
                    width: 100%;
                    margin: 10px auto;
                }
            }

            .content__avatar-image {
                border: 1px solid rgba(0,0,0,0.1);
                width: 30%;
            }
        }
    }
}