.select-prepaid-service {
    padding: 5px;
    border: 1.5px solid #ccc;

    .type-show-prepaid-service {
        gap: 10px;
        display: flex;

        .btn--sales {

        }

        .btn--uses {

        }
    }

    .category-prepaid-service {
        display: flex;
        width: 100%;

        .category {
            width: 50%;
            padding: 5px;
            border: 1px solid #ccc;

            .category__title {

            }
            .list-category {
                max-height: 60vh;
                overflow-y: auto;

                .category__info {
                    padding: 5px;
                    margin-bottom: 5px;
                    border: 1px solid #ccc;

                    &.category__info--selected {
                        background-color: #D9E1F2;

                        &:hover {
                            background-color: #D9E1F2;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(241, 240, 240);
                    }
                }
            }
        }
        
        .card {
            width: 50%;
            padding: 5px;
            border: 1px solid #ccc;

            .card__title {

            }
            .list-card {
                max-height: 60vh;
                overflow-y: auto;
                
                .card__info {
                    padding: 5px;
                    margin-bottom: 5px;
                    border: 1px solid #ccc;

                    &.card__info--selected {
                        background-color: #D9E1F2;

                        &:hover {
                            background-color: #D9E1F2;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(241, 240, 240);
                    }
                }
            }
        }
    }

    .title {
        padding: 5px;
        margin-bottom: 10px;
        background-color: #ccc;
    }

    .btn {
        padding: 5px;
        border: 1.5px solid #ccc;
    }
}